html,body {
    height: 100%;
}
body{
    margin: 0px;
    position: relative;
}
h1,h2,h3,h4,h5 {
    margin: 0;
    font-weight: normal;
}
p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
.header{
    position: relative;
}
.container {
    margin: 0 auto;
    width: 978px;
}
.section {
    height: 100vh;
    min-height: 650px;
}