.advantages {
    background: #fff;
    background: url(../../pictures/decorations/sheet_advantages.png) left center no-repeat;
    z-index: 5;
    margin-bottom: 30%;
}
.advantages__content {
    margin: 0 auto 5%;
    p {
        color: #666666;
        font-family: "Alegreya Sans";
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        margin: 0 auto;
        width: 70%;
    }
    h1 {
        margin-bottom: 1%;
    }
}
.main-advantages__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.main-advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    &:after {
        content: '';
        background: url(../../pictures/disks.png) no-repeat;
        display: inline-block;
        position: absolute;
        width: 67px;
        height: 21px;
    }
    &:last-child:after {
        display: none;
    }
}
.item-pic {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 55%;
    height: 55%;
}
.advantages__item-pic {
    position: relative;
    width: 125px;
    height: 125px;
    background-color: #f2f5f4;
    border-radius: 50%;
    margin-bottom: 10%;

}
.advantages__item-content{
    text-align: center;
    color: #666666;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 300;
    h4 {
        text-align: center;
        color: #000000;
        font-family: "Alegreya Sans";
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 5%;
    }
}

