.footer {
	position: absolute;
	bottom: 0;
	left: 0;
    right: 0;
	padding: 2% 0;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include phones {
    flex-direction: column;
  }
}

.footer__col {
    width: 50%;
	@include phones {
		float: none;
		width: 100%;
		text-align: center;
	}
}

.footer__address {
	color: #010101;
	font-family: "Alegreya Sans";
	font-size: rem(21px);
	font-weight: 400;
	line-height: rem(23.82px);
	margin-bottom: 2%;
}

.footer__phone {
	color: $green;
	/*@include ubuntu(bold);*/
	text-decoration: none;
	font-family: "Alegreya Sans";
	font-size: rem(21px);
	font-weight: 400;
	line-height: rem(30px);
	text-transform: uppercase;
}

.footer__col_right {
  text-align: right;
  margin-bottom: 0;

	@include phones {
		text-align: center;
	}
}