.menu {
    background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/menu/menu.png?raw=true") no-repeat;
    background-size: cover;
    background-color: black;
    position: relative;
}
.container__menu {
    position: relative;
}
.menu__title {
    color: #ffffff;
    font-family: "Alegreya Sans - Extra Bold";
    font-size: rem(48px);
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    left: 5%;
    top: 23%;
    @include phones {
        font-size: rem(40px);
    }
}
.menu__accordeon{
    display: flex;
    justify-content: flex-end;
}
.accordeon__item {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    background-color: #2f3234;
    position: relative;
    opacity: 0.93;
    &-milk {
        background-image: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/menu/coconut.png?raw=true");
        background-size: cover;
    }
    &-fruits {
        background-image: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/menu/with-fruits.png?raw=true");
        background-size: cover;
    }
    &-berries {
        background-image: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/menu/with-berries.png?raw=true.png");
        background-size: cover;
    } 
    a {
        width: 10vh;
        position: relative;
        @include phones {
            width: 6vh;
        }
    }
    &-content {
        font-family: "Alegreya Sans";
        font-size: rem(16px);
        font-weight: 400;
        line-height: rem(23.97px);
        background-color: #2f3234;
        opacity: 0.93;
        overflow: hidden;
    }
}
.accordeon__item-title-content{
    display: block;
    width: 100vh;
    height: 10vh;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0 0;
    white-space: nowrap;
    color: #fff;
    font-family: "Alegreya Sans Medium";
    font-size: rem(48px);
    font-weight: 500;
    margin-top: -25%;
    @include phones {
        font-size: rem(36px);
    }
}
.close__button {
    position: absolute;
    width: 5%;
    height: 5%;
    right: 19%;
    top: 3%;
    text-align: center;
    &-pic {
        vertical-align: middle;
    }
    &:hover{
        opacity: .5;
        transition: .5s;
    }
    @include tablets {
        right: 6%;
    }
}
.accordeon__item-text {
    width: 50%;
    @include tablets {
        width: 70%;
    }
    @include phones {
        width: 80%;
    }
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-size: rem(16px);
    font-weight: 400;
    line-height: 23.97px;
    padding: 4% 8% 0;
}
.accordeon__item-hidden {
    display: none;
    left: 15%;
    position: absolute;
    justify-content: flex-end;
    @include tablets {
        z-index: 10;
        left: 0;
    }
}
.accordeon__item-visible {
    margin: auto 0;
}
