.promo {
    background: $blue;
}
.promo__container{
    height: 100%;
    background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/decorations/sheet.png?raw=true") top 20% right -7% no-repeat;
    @include tablets {
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.promo-advantages {
    padding-bottom: 30%;
    @include tablets {
        padding-bottom: 10%;
    }
}
.promo-content {
    display: flex;
    justify-content: space-between;
    @include tablets {
        align-items: center;
        flex-direction: column-reverse;
    }
}
.promo_left-side {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5%;
}
.promo__title {
    padding-top: 10%;
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-size: rem(60px);
    @include tablets {
        font-size: rem(46px);
        text-align: center;
        margin-bottom: 5%;
        padding-top: 0;
    }
    @include phones {
        font-size: rem(28px);
    }
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20%;
    &:before {
        content: '';
        background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/decorations/berries&sheets_promo_adapted.png?raw=true") top center / cover no-repeat;
        position: absolute;
        width: rem(500px);
        height: rem(300px);
        display: none;
        @include tablets {
            display: block;
            width: rem(340px);
            height: rem(220px);
            left: 28%;
            top: 2%;
        }
        @include phones {
            width: rem(240px);
            height: rem(160px);
            display: block;
            left: 21%;
            top: 2%;
        }
    }
}
.main-pic__img {
    @include tablets {
        width: 90%;
    }
    @include phones {
        width: 50%;
    }
}
.promo-info { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__text {
        color: #ffffff;
        font-family: "Alegreya Sans";
        font-size: rem(20px);
        font-weight: 400;
        margin-bottom: 10%;
        width: 80%;
        @include tablets {
            margin: 0 auto 10%;
        }       
         @include phones {
            width: 100%;
        }

    }
}
.button-order {
    width: min-content;
    padding: 4% 5%;
    border-radius: rem(45px);
    background-color: #ffffff;
    border-radius: 30px;
    &__name {
        color: #0f5a47;
        font-family: "Alegreya Sans - Extra Bold";
        font-size: rem(19px);
        font-weight: 400;
        text-transform: uppercase;
    }
    @include tablets {
        margin: auto;
    }
}
.promo-advantages__list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    @include tablets {
        justify-content: space-around;
    }
}
.promo-advantages__item {
    width: 18%;
    display: flex;
    color: #ffffff;
    font-family: "Alegreya Sans";
    font-size: rem(16px);
    font-weight: 400;
    img {
        width: 3em;
        height: 2.5em;
        margin-right: 10%;
        @include phones {
            height: 50%;
            width: 40%;
        }     
    }
    p {
        @include phones {
            font-size: rem(14px);
        } 
    }
}

