.reviews {
    padding: 5%;
    position: relative;
}
.reviews__container {
    padding-top: 2%;
    background: url("./../../pictures/decorations/strawberries.png") right top no-repeat;
    position: relative;
    &:after {
        content: '';
        background: url("./../../pictures/decorations/berrieswithsheet.png") left bottom no-repeat;
        position: absolute;
        left: -4%;
        bottom: -79%;
        width: rem(160px);
        height: rem(350px);
        @include tablets {
            display: none;
        }
    }
    display: block;
}
.review__title {
    color: #323232;
    font-family: "Alegreya Sans Medium";
    font-size: rem(30px);
    font-weight: 500;
    padding: 4% 0;
    @include tablets {
        text-align: center;
    }
}
.user__review {
    background-image: url("./../../pictures/decorations/ellipse.png"), url("./../../pictures/decorations/berries.png");
    background-position: center top, right top;
    background-repeat: no-repeat;
    background-color: #f8faf9;
    display: flex;
    padding-top: 5%;
    margin-bottom: 5%;
    @include tablets {
        flex-direction: column;
    }
}
.review__text p {
    color: #666666;
    font-family: "Alegreya Sans";
    font-size: rem(18px);
    font-weight: 400;
    margin-bottom: 6%;
    width: 75%;
    @include tablets {
        text-align: center;
        width: 100%;
    }
}
.review__author {
    color: #666666;
    font-family: "Alegreya Sans Medium";
    font-size: rem(18px);
    font-weight: 500;
    @include tablets {
        text-align: center;
    }
}
.user__avatar {
    padding: 0 5% 5%;
    width: 100%;
    margin: 0 auto;
    @include tablets {
        width: 60%;
    }
    @include phones {
        padding-top: 8%;
        width: 40%;
    }
}
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    .user__photo{
        border-radius: 50%;
        width: rem(68px);
        height: rem(68px);
        margin-right: 2%;
        &-active {
            border: 6px solid #0f5a47;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}