.scroll {
    position: fixed;
    right: 12%;
    top: 30%;
    z-index: 5;
    &__item {
        margin-bottom: 85%;
        position: relative;
        text-align: center;
    }
}
.scroll__item-active {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    img {
        position: absolute;
        display: block;
        left: 30%;
        top: 30%;
    }
}