.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8faf9;
    .order__form-button {
        margin-right: 0;
        width: fit-content;
        @include phones {
            font-size: rem(14px);
        }
    }
}
.left-arrow, .right-arrow {
    @include tablets{
        display: none;
    }
}
.container__slider {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.slider__content {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-about {
        padding-top: 10%;
        width: 50%;
        position: relative;
        @include tablets{
            width: 80%;
        }
    }
    @include tablets{
        flex-direction: column;
    }
}
.slider__pic {
    width: 75%;
    @include phones {
        width: 85%;
    }
}
.slider__img {
    display: flex;
    padding: 10%;
    background-size: cover;
    width: 50%;
    position: relative;
    background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/slider/ellipse_in_slider-img.png?raw=true") center bottom 20% no-repeat,
    url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/slider/ellipse-with-sheets.png?raw=true") left 35% bottom 5% no-repeat;
    @include phones {
        background-size: contain;
    }
    &::before {
        content: '';
        width: 10vw;
        height: 10vw;
        background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/slider/left-arrow.png?raw=true") center no-repeat;
        display: none;
        position: absolute;
        left: -11%;
        top: 51%;
        @include tablets {
            display: block;
        }
        @include phones {
            left: -16%;
        }
    }
    &::after {
        content: '';
        width: 10vw;
        height: 10vw;
        background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/slider/right-arrow.png?raw=true") center no-repeat;
        display: none;
        position: absolute;
        right: -14%;
        top: 51%;
        @include tablets {
            display: block;
        }
    }
}
.slider__bars-img {
    position: absolute;
    bottom: 71%;
    left: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: rem(6px);
    width: 9vh;
    height: 10vh;
    color: #ffffff;
    background-color: $blue;
    font-family: "Alegreya Sans - Black Italic";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    @include tablets{
        text-align: center;
        top: 26%;
        left: 78%;
    }
    @include phones {
        right: -17%;
        top: 25%;
    }
}
.slider__bars-title {
    color: #0d0d0d;
    font-family: "Alegreya Sans";
    font-size: rem(36px);
    font-weight: 700;
    text-transform: uppercase;
    @include tablets{
        text-align: center;
    }
    @include phones {
        font-size: rem(30px);
    }
}
.slider__description {
    margin-bottom: 5%;
    &-text {
        color: #666666;
        font-family: "Alegreya Sans";
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10%;
        @include tablets{
            text-align: center;
            margin-bottom: 5%;
        }
        @include phones {
            background-size: contain;
            width: 110%;
        }
    }
}
.data__title {
    color: #333333;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 400;
}
.slider__description-data {
    display: flex;
    margin-bottom: 15%;
    @include tablets {
        justify-content: center;
        margin-bottom: 5%;
    }
}
.slider__description-calories {
    margin-right: 10%;
}
.data__value {
    color: #333333;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 700;
}
.slider__description-order_info {
    display: flex;
    @include tablets {
        justify-content: center;
    }
}
.order__price {
    margin-right: 10%;
    color: #0d0d0d;
    font-family: "Alegreya Sans";
    font-size: rem(60px);
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
    @include phones {
        font-size: rem(30px);
    }
}