.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8faf9;   
    .order__form-button {
        margin-right: 0;
        width: fit-content;
        &:hover {
            box-shadow: 0 0 20px rgba(0,0,0,0.5); /* Параметры тени */
            transition: .7s;
        }
        @include phones {
            font-size: rem(14px);
        }
    }
}
.left-arrow, .right-arrow {
    position: absolute;
    &:hover {
        opacity: .5;
        transition: .5s;
    }
}
.right-arrow {
    right: 0%;
    @include tablets{
        top: 32%;
        right: 12%;
    }
    @include phones {
        top: 28%;
    }
}
.left-arrow {
    position: absolute;
    left: -5%;
    @include tablets{
        top: 32%;
        left: 12%;
    }
    @include phones {
        top: 28%;
    }
}
.container__slider {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.slider__list {
    overflow: hidden;
    display: flex;
}
.slider__list-content {
    display: flex;
    will-change: right;
    transition: right 0.3s;
    position: relative;
    width: 104vw;
    @include tablets{
        width: 190vw;
    }
}
.slider__content {
    padding: 0 5%;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    width: 52vw;
    align-items: center;
    position: relative;
    @include tablets{
        width: 95vw;
    }
    @include phones {
        height: 95vh;
        width: 100vw;
    }
    &-about {
        width: 50%;
        @include tablets{
            width: 80%;
        }
        @include phones {
            padding-top: 0;
        }
    }
    @include tablets{
        flex-direction: column;
    }
}
.slider__pic {
    width: 75%;
    @include phones {
        width: 85%;
    }
}
.slider__img {
    display: flex;
    padding: 12%;
    z-index: 10;
    background-size: cover;
    width: 50%;
    position: relative;
    margin-right: 8%;
    background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/slider/ellipse_in_slider-img.png?raw=true") center bottom 20% no-repeat,
    url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/slider/ellipse-with-sheets.png?raw=true") left 35% bottom 5% no-repeat;
    @include tablets {
        margin-right: 0;
        padding: 15%;
    }
    @include phones {
        background-size: 80%, 100%;
    }
}
.slider__bars-img {
    position: absolute;
    bottom: 80%;
    left: 62%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: rem(6px);
    width: 9vh;
    height: 10vh;
    color: #ffffff;
    background-color: $blue;
    font-family: "Alegreya Sans - Black Italic";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    @include tablets{
        text-align: center;
        top: 4%;
        left: 82%;
    }
    @include phones {
        left: 80%;
        top: 3%;
        height: fit-content;
    }
}
.slider__bars-title {
    color: #0d0d0d;
    font-family: "Alegreya Sans";
    font-size: rem(36px);
    font-weight: 700;
    text-transform: uppercase;
    @include tablets{
        text-align: center;
    }
    @include phones {
        font-size: rem(30px);
    }
}
.slider__description {
    margin-bottom: 5%;
    &-text {
        color: #666666;
        font-family: "Alegreya Sans";
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10%;
        @include tablets{
            text-align: center;
            margin-bottom: 5%;
        }
        @include phones {
            background-size: contain;
            width: 110%;
        }
    }
}
.data__title {
    color: #333333;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 400;
}
.slider__description-data {
    display: flex;
    margin-bottom: 15%;
    @include tablets {
        justify-content: center;
        margin-bottom: 5%;
    }
}
.slider__description-calories {
    margin-right: 10%;
}
.data__value {
    color: #333333;
    font-family: "Alegreya Sans";
    font-size: 18px;
    font-weight: 700;
}
.slider__description-order_info {
    display: flex;
    @include tablets {
        justify-content: center;
    }
}
.order__price {
    margin-right: 10%;
    color: #0d0d0d;
    font-family: "Alegreya Sans";
    font-size: rem(60px);
    font-weight: 300;
    line-height: 60px;
    text-transform: uppercase;
    @include phones {
        font-size: rem(30px);
    }
}
.slider__hidden-menu {
    background: #ffffff;
    opacity: 0.95; 
    padding: 3%;
    position: absolute;
    left: 71%;
    bottom: 55%;
    display: none;
    width: 24%;
    z-index: 20;
    @include tablets{
        top: 3%;
        left: 44%;
        width: 32%;
        height: 27%;
    }
    @include phones {
        top: 2%;
        left: 17%;
        width: 55%;
        height: min-content;
    }
}
.item__icon {
    width: rem(35px);
    height: rem(35px);
    @include phones {
        width: rem(25px);
        height: rem(25px);
    }
}
.hidden-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hidden-menu__item {
    display: flex;
    justify-content: space-between;
}

.hidden-menu__item-weight {
    color: #2f3234;
    font-family: "Alegreya Sans";
    font-size: rem(16px);
    font-weight: 400;
}
.hidden-menu__item-text {
    color: #333333;
    font-family: "Alegreya Sans";
    font-size: rem(16px);
    font-weight: 500;
    width: 100%;
    padding-left: 15%;
}