.team__accordeon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 10;
}
.container__team {
    padding: 7% 5%;
    position: relative;
    &:before {
        content: '';
        background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/decorations/sheet&blackberries.png?raw=true") right top no-repeat;
        position: absolute;
        top: -34%;
        right: 0;
        height: rem(578px);
        width: rem(196px);
        @include tablets{
            display: none;
        }
    }
    &:after {
        content: '';
        background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/decorations/strawberry.png?raw=true") left bottom no-repeat;
        position: absolute;
        left: 0%;
        bottom: -22%;
        width: rem(104px);
        height: rem(114px);
        @include tablets{
            display: none;
        }
        @include phones{
            width: 80%;
        }
    }
}
.team__member {
    text-align: center;
    width: 23%;
    img {
        margin-bottom: 6%;
        @include tablets{
            width: 50%;
        }
        @include phones{
            width: 80%;
        }
    }
    @include tablets {
        width: 50%;
    }
}
.member__name {
    color: #323232;
    font-family: "Alegreya Sans";
    font-size: rem(21px);
    font-weight: 500;
    margin-bottom: 4%;
}
.member__name:after {
    content: '';
    margin-left: 2%;
    background: url("https://github.com/zhus-dika/chocco/blob/gh-pages/pictures/icons/icon_hidden.svg") no-repeat;
    display: inline-block;
    width: rem(10px);
    height: rem(10px);
}
.member__status {
    color: #281e1e;
    font-family: "Alegreya Sans";
    font-size: rem(18px);
    font-weight: 400;
}
.member__description {
    /*height: 0;
    overflow: hidden;*/
    h5 {
        color: #281e1e;
        font-family: "Alegreya Sans";
        font-size: rem(18px);
        font-weight: 400;
        margin-bottom: 4%;
    }
    p {
        color: #666666;
        font-family: "Alegreya Sans";
        font-size: rem(18px);
        font-weight: 300;
    }
}